* {
	font-size: 1.0em;	
}

h1 {
	color: #a60002;
	text-decoration: underline;
	font-size: 2.0em;
}

h2 {
	font-size: 1.5em;	
}

h3 {
	font-size: 1.2em;	
}

p {
	font-size: 1.0em;	
}

.errors {
	color: #BF0A0A;
}

dt {
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 5px;
}

dt#Hoehe-label{
	margin-top: 110px; 	
}

select#Einsatzgebiet, dd#Anschluss-element, div#Hoehe-slider, div#Breite-slider{
	position: absolute;
	margin-left: 140px;
	padding: 3px;
} 
input#Temperatur{
	position: absolute;
	display: inline-block;
	margin-left: 140px;
	top: 233px;
	padding: 3px;
	font-size: 15px;
	border: 1px solid #000000;
	height: 15px;
	width: 40px;
}

select#Einsatzgebiet{
	top: 265px;
	width: 150px;
	heigth: 20px;
}

dd#Anschluss-element{
	top: 303px;
	width: 300px;
	height: 100px;	
}

div#Hoehe-slider{
	top: 440px;
	width: 300px;
	height: 7px;
}

div#Breite-slider{
	top: 477px;
	width:300px;
	height: 7px;	
}

input#submit{
	position:absolute;
	height:30px;
	width: 150px;
	top: 500px;
}


/* Bilder auf der Startseite */
img#bilder{
	float:right;
	margin-left:5px;
	margin-right:100px;
	width:150px; 
	height:160px;
}









