.errors {
	color: #BF0A0A;
}

ul.errors {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.address {
	list-style-type: none;
}

ul.data {
	list-style-type: none;
}

input {
	width:150px;
}

div#register, div#lost {
	font-size: 0.9em;
}

#country {
	width: 150px;
}

div#register_wrapper {
	margin: 0 25px;
}

div#register_container {
	margin: 0 50px;
}

div#login_wrapper {
	margin: 0 25px;
}
