.bild {
	float: left;
	width: 45%;
	display: inline;
}

.daten {
	float: left;
	width: 55%;
	display: inline;
	color: #696969;
}

.grunddaten {
	float: left;
	width: 35%;
	display: inline;
}

.modelle {
	float: left;
	width: 25%;
	display: inline;
}

.static_bild {
	float: left;
	width: 38%;
	display: inline-block;
	color: #696969;
}

.static_text {
	float: left;
	width: 32%;
	display: inline-block;
	color: #696969;
}

.static_text2 {
	color: #696969;
}

.static_grunddaten {
	float: left;
	display: inline-block;
	color: #696969;
}

.static_modelle {
	float: left;
	width: 25%;
	display: inline;
}

#extraInfo {
	resize: none;
}

.offenAngebot {
	background-color: #ECF1EF;	 
}

.beendetAngebot {
	background-color: #C1CDCD;
}

.inBearbeitungAngebot {
	background-color: #FFD39B;
}

.abgeschlossenAngebot {
	background-color: #90EE90;
}

table th.angebote {
	background-color: gray;
	text-align: left;
	color: white;
	font-weight: bold;
}

.odd {
	background-color: white;
}

.even {
	background-color: #c0c0c0;
}