.bild {
    
    float: left;
    width: 45%;
    display: inline;
   
}

.daten {
	
    float: left;
    width: 55%;
    display: inline;

}

.grunddaten {
	
	float: left;
	width: 35%;
	display: inline;
}

.modelle  {
	
	float: left;
	width: 25%;
	display: inline;
} 
