h1#startseite {
	color: #a60002;
	text-decoration: underline;
	font-size: 2.0em;
}

h2#startseite {
	font-size: 1.5em;	
}

h3#startseite {
	font-size: 1.2em;	
}

p {
	font-size: 1.0em;	
}

.errors {
	position:absolute;
	color: #BF0A0A;
	list-style-type: none;
	top:420px;
}

dt{
	float:left;	
}

label, dd#Anschluss-element{
    width: 10em;
    display: block;
    float: left;
}

dt#Anschluss-label{

}

input#submit{
	position:absolute;
	float:left;
	height:30px;
	width: 150px;
	margin-top: 80px;
	left: 170px;
	
}

div#TabelleWt{
	margin-top: 120px;
}

/*Wtbearbeiten Formular*/

div#geändert{
	position:absolute;
	margin-top:60px;
	}

/* Bilder auf der Startseite */
img#bilder{
	float:right;
	margin-left:5px;
	margin-right:100px;
	width:150px; 
	height:160px;
}